body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(243, 227, 157);
}

.header {
  text-align: center;
  background: rgb(177, 169, 136);
  border-bottom: 2px solid rgb(158, 151, 123);
  font-family: "Poiret One";
  margin-bottom: 1em;
  padding: 3rem;
  font-size: 26px;
}

.header h1 {
  margin: 0px;
}

.EntityResult {
  margin-top: 2em;
}

.ResultBox {
  background: rgb(177, 169, 136);
  border: 2px solid rgb(158, 151, 123);
  padding: .8rem;
  border-radius: .3rem;
}

.textResult {
  font-family: "Poiret One";
  font-weight: bolder;
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px dashed gray;
  padding-bottom: 1rem;
}

.textEntitys {
  padding: 3px .6rem;
  background: #fff;
  display: inline-block;
  border-radius: 4px;
}

.notification {
  font-family: "Poiret One";
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 2px 0;
  color: rgb(179, 158, 67);
}